<?xml version="1.0"?>

<launch>
    <include file="$(find polaris)/config/atv_can.launch" />
    
    <node pkg="tf" type="static_transform_publisher" name="base_link_imu" args="0.63 0.08 1.55 0 0 0 base_link imu 20" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_gps" args="0.63 0.08 1.55 0 0 0 base_link gps 20" />
    <include file="$(find polaris)/config/novatel.launch">     
    </include>
    
    <include file="$(find polaris)/config/joy.launch" />    
    <node pkg="tools" type="teleop_vehicle" name="tools" output="screen">
    <param name="max_torque" value="5000" /> 
    </node>
</launch>
